
.header{
	height: 100px;
	width: 100%;
	
}
.header-logo {
	padding-top: 20px;
}
.header-logo img{
	
}

.p-btn{
	
	padding-top: 20px;
	padding-bottom: 15px;	
	
}
.pages{
	margin-left: 357px;
    margin-top: 20px;
    color: black;
}
.pages ul li a{
	color:#212529;
}
.navigation{
	float: right;
	margin-top: 15px;
	margin-right: 106px;
	
}
.navigation span{
	font-size: 25px;
	font-weight: 700;
	font-family:aclonica;
	margin-right: 88px;
}
.navigation em{
	padding-left:214px; 
}